%soc-media-img {
  display: inline-block;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  transition: 0.5s;
}

%hover-effect-img {
  transition: all 0.5s;

  @include laptop {
    &:hover {
      transform: scale(0.9);
      box-shadow: 10px 5px 5px #333;
    }
  }
}
